services:
  mongo:
    image: mongo:7
    ports: ["27017:27017"]
    volumes:
      - mongo_data:/data/db
  mongo-express:
    image: mongo-express:1
    depends_on: [mongo]
    ports: ["8081:8081"]
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
  neo4j:
    image: neo4j:5.24
    ports: ["7474:7474","7687:7687"]
    environment:
      NEO4J_AUTH: neo4j/neo4j
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
  api:
    build:
      context: ./backend
    environment:
      PORT: 3000
    ports: ["3000:3000"]
    depends_on: [mongo, neo4j]
volumes:
  mongo_data:
  neo4j_data:
  neo4j_logs:
